<%= form_with model: planet do |form| %>
  <div class="row">
    <div class="col col-lg-3">
      <%= form.label :name %><br>
      <%= form.text_field :name, :class => "form-control" %>
      <% planet.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div class="col">
      <%= form.label :image_url %><br>
      <%= form.text_field :image_url, :class => "form-control" %><br>
      <% planet.errors.full_messages_for(:image_url).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

  </div>

<button type="button" <%= planet.id ? '' : 'hidden' %> class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#locationsModal">
  Manage locations
</button>

  <br/>

  <br/>
  <div>
    <%= link_to "Cancel", :back, :class => "btn btn-outline-secondary" %>
    <%= form.submit "Save", :class => "btn btn-outline-success", :data => {style:"float:right;"} %>
  </div>
<% end %>

<%= form_with url: save_scenarios_path, id: "locations", method: "post", local: false do |form| %>
<input hidden name="id" value="<%= planet.id %>"/>
<div class="modal fade" id="locationsModal" tabindex="-1" aria-labelledby="locationsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="locationsModalLabel">Locations</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="locationsModalBody">
        <%= render "shared/table", items: planet.locations, columns: ['name'], namespace: 'locations' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= form.submit "Save", :class => "btn btn-outline-success" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= javascript_include_tag('planets.js') %>
<%= javascript_include_tag('table.js') %>