<tr id="<%= template ? 'templateRow' : 'valueRow' %>">
    <td>
        <input hidden name="locations[<%= index != nil ? index : '{{index}}'%>][id]" class="form-control" value="<%= location ? location.id : '' %>" />
        <input name="locations[<%= index != nil ? index : '{{index}}'%>][name]" class="form-control" value="<%= location ? location.name : '' %>" />
    </td>
    <td>
        <button class="btn btn-outline-danger" type="button" onclick="removeRow(event)" style="float:right;">
            <i class="fas fa-minus"></i>
        </button>
    </td>
</tr>