<!DOCTYPE html>
<html>
  <head>
    <title>C-3PO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/21e350da39.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% user = current_user() %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="margin-left:5px;" href="/">
      <img src="https://cdn.discordapp.com/attachments/744172199770062899/850863548980658227/c3p0.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <% if user %>
        <li class="nav-item">
          <a class="nav-link text-white" href="/planets">
            <i class="fas fa-meteor"></i>
            Planets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/actions">
            <i class="fas fa-code-branch"></i>
            Actions
          </a>
        </li>
      <% end %>
      </ul>
    </div>
      <form class="d-flex" style="margin-right:5px;">
        <% if user %>
          <img class="user-avatar" src="<%=user.avatar()%>"><img/>
          <label class="text-white d-none d-sm-block">&nbspLogged in&nbsp;</label>
        <% else %>
          <a class="btn btn-primary" href="<%= discord_oauth_url() %>">
            <i class="fab fa-discord"></i>
            <label class="d-none d-sm-block">Login</label>
          </a>
        <% end %>
      </form>
  </nav>

  <%= link_to :back, :class => "btn btn-outline-primary back-button" do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <div class="container">
    <div class="row site-content">
      <%= yield %>
    </div>
</div>

<div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x" style="z-index: 5">
  <div id="successToast" class="toast toast-lg hide text-white fs-4 bg-success"  data-bs-delay="1500" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body"></div>
  </div>
</div>

  </body>
</html>